<template>

    <div id="login">
        <h3>Selamat Datang Kembali</h3>

        <p>Pastikan untuk membuat akun anda aman </p>

        <p>Semua terisi dengan benar</p>

        <input type="text" name="username" v-model="input.username" placeholder="Username" />
        <br></br>
        <input type="password" name="password" v-model="input.password" placeholder="Password" />
        <br></br>
        <p>Lupa <a href=''>Password</a></p>
        <br></br>
        <button type="button" v-on:click="login()">Masuk</button>
    </div>

</template>

<script>
    export default {
        name: 'Login',
        data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
        },
        methods: {
            login() {
                if(this.input.username != "" && this.input.password != "") {
                    if(this.input.username == this.$parent.mockAccount.username && this.input.password == this.$parent.mockAccount.password) {
                        this.$emit("authenticated", true);
                        this.$router.replace({ name: "secure" });
                    } else {
                        console.log("The username and / or password is incorrect");
                    }
                } else {
                    console.log("A username and password must be present");
                }
            }
        }
    }
</script>

<style scope>
    #login {
        width: 500px;
        height: 500px;
        text-align: left;
        border: 0px solid #CCCCCC;
        background-color: #FFFFFF;
        margin: auto;
        margin-top: 200px;
        padding: 20px;
        position: relative;
        left: 300px;
        bottom: 100px;
        
    }

    
</style>