<template>
    <div id="secure">
        <br></br>
        <h1>DASHBOARD</h1>
        <p>
            Silakan isi dengan benar
        </p>
        
    </div>
</template>

<script>
    export default {
        name: 'Secure',
        data() {
            return {};
        }
    }
</script>

<style scoped>
    #secure {
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        padding: 20px;
        margin-top: 10px;
    }

    body {
        background-color: white;
    }
</style>