<template>
    <b-container class="bv-example-row">
        <h2>Best Agents</h2>
        <b-table small :items="items" :fields="fields">
            <template slot="show_details" slot-scope="row">
            <!-- we use @click.stop here to prevent emitting of a 'row-clicked' event  -->
            <b-button size="sm" @click.stop="row.toggleDetails" class="mr-2">
            {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
            </b-button>
            <!-- In some circumstances you may need to use @click.native.stop instead -->
            <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
            <b-form-checkbox @click.native.stop @change="row.toggleDetails" v-model="row.detailsShowing">
                Details via check
            </b-form-checkbox>
            </template>
            <template slot="row-details" slot-scope="row">
            <b-card>
                <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>Age:</b></b-col>
                    <b-col>{{ row.item.age }}</b-col>
                </b-row>
                <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>Changes:</b></b-col>
                    <b-col>{{ row.item.changes }}</b-col>
                </b-row>
                <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>Clients:</b></b-col>
                    <b-col>{{ row.item.clients }}</b-col>
                </b-row>
                <b-row class="mb-2">
                    <b-col sm="3" class="text-sm-right"><b>Is Active:</b></b-col>
                    <b-col>{{ row.item.isActive }}</b-col>
                </b-row>
                <b-button size="sm" @click="row.toggleDetails">Hide Details</b-button>
            </b-card>
            </template>
        </b-table>
    </b-container>
</template>

<script>
        export default {
    data () {
        return {
            fields: [ 'full_name', 'rating', 'show_details' ],
            items: [
                { isActive: true, age: 40, changes: 0, clients: 10, full_name: 'Dickerson Macdonald', rating: '3' },
                { isActive: true, age: 21, changes: 3, clients: 5, full_name: 'Larsen Shaw', rating: '5' },
                { isActive: false, age: 89, changes: 2, clients: 12, full_name: 'Geneva Wilson', rating: '4', _showDetails: true },
                { isActive: true, age: 38, changes: 1, clients: 4, full_name: 'Jami Carney', rating: '5' }
                ]
            }
        }
    }
</script>

<style>

</style>
