<template>
     <b-container class="bv-example-row">
         <h2>Dashboard</h2>
                <b-row>
                    <b-col>
                        <b-card title="Clients">
                                <h2 class="card-text" style="text-align:right">
                                    392012
                                </h2>
                            <b-link href="#" class="card-link">Clients list</b-link>
                        </b-card>
                    </b-col>
                    <b-col>
                        <b-card title="Agents">
                                <h2 class="card-text" style="text-align:right">
                                    <em>312</em>
                                </h2>
                            <b-link href="#" class="card-link">Agents list</b-link>
                        </b-card>
                    </b-col>
                    <b-col>
                        <b-card title="Balance">
                                <h2 class="card-text" style="text-align:right">
                                    <em>31650000</em>
                                </h2>
                            <b-link href="#" class="card-link">Details</b-link>
                        </b-card>
                    </b-col>
                </b-row>
        </b-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
