<template>
  <div class="sidebar">
    <h1 href="#">GUA</h1>
    <a class="active" href="#">Dashboard</a>
    <a href="#">Client List</a>
    <a href="#">Agents</a>
    <a href="#">Promo</a>
  </div>
  
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style>

</style>
