<template>
    <div class="right-menu">
        <b-container-fluid>
                <cms-header />
            <br>        
                <cms-content-up />   
            <br>    
                <cms-content-down />          
        </b-container-fluid>
    </div>
                    
</template>

<script>
import cmsHeader from './cmsHeader.vue'
import cmsContentUp from './cmsContentUp.vue'
import cmsContentDown from './cmsContentDown.vue'
export default {
    components: {
        cmsHeader, cmsContentUp, cmsContentDown
    }
}
</script>

<style>

</style>
