<template>
    
  <div id="app">

    <!--<img src="./assets/logo.png"> -->
    
        <div id="nav">            
            <router-link v-if="authenticated" to="/login" v-on:click.native="logout()" replace> <button type="button" v-on:click="logout()"> Keluar </button> </router-link>     
        </div>

            <router-view @authenticated="   setAuthenticated" />

  </div>
     
</template>

<script>
export default {
  name: 'App',
  data() {
            return {
                authenticated: false,
                mockAccount: {
                    username: "a",
                    password: "p"
                }
            }
            
        },
        mounted() {
            if(!this.authenticated) {
                this.$router.replace({ name: "login" });
            }
        },
        methods: {
            setAuthenticated(status) {
                this.authenticated = status;
            },
            logout() {
                this.authenticated = false;
            }
        }
}
</script>

<style>
    
   body {
        background-image: url("./assets/Login.jpg");
        background-size: 1370px 680px;
        position: relative; 
        z-index: 1;
        background-color: #F0F0F0;
    }
    
    h1 {
        padding: 0;
        margin-top: 0;
    }
    
    #app {
        width: 1024;
        margin: auto;
        /*
        background-image: url("./assets/Login.jpg");
        background-size: 100% 100%;
        background-position: top left;       
        background-repeat: no-repeat;
        background-image: url("./assets/Login.jpg");
        
        background-repeat: no-repeat;
        background-size: 19in 7.5in;
        position: absolute;
        margin-top: 0px;
        margin-right: 0px
        */
        
    }
</style>
